# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml

# Misc
.vscode
.idea
